@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
*
{
  font-family: 'Roboto', sans-serif;

}

$main-background:#2980b9;
$main-color:white;
$secondary-background:#2c3e50;
$secondary-color:white;
$main-padding:15px;
